# Ignore dependencies
node_modules/
gcloud/
.env

# Ignore git and local IDE configs
.git/
.idea/
.vscode/

# Ignore logs and build outputs
/python/festim/
/python/trame
/python/__pycache__/
*.log
.next