# Ignore dependencies
node_modules/
gcloud/
.env

# Ignore git and local IDE configs
.git/
.idea/
.vscode/

# Ignore logs and build outputs
/python/festim/
/python/__pycache__/
/python/read_my_bp.py
*.log
.next